<h2>Replying to <%= @topic.link %></h2>
<form action="/topics/<%= @topic.id %>/reply" method="POST">
<p><textarea rows=6 cols=80 name="content"></textarea></p>
<p><input type="submit" name="Post Message"></p>
</form>