<h2>Are you sure you want to delete the topic <%= @topic.link %> and all messages in it? This cannot be undone!</h2>

<p><a href="/topics/<%= @topic.id %>">No, don't delete it.</a></p>
<form action="/topics/<%= @topic.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Topic">
</form>