<h1>Create New Topic</h1>
<form action="/topics/new" method="POST">
<p>Topic Title: <input type="text" cols=80 name="topic[title]"></p>
<p>First Post: <textarea rows=6 cols=80 name="message[first_message]"></p>
<p><input type="submit" name="Create Topic"></p>
</form>