<h1>Create New Topic</h1>
<form action="/topics/new" method="POST">
<p>Topic Title: <input type="text" size=79 name="title"></p>
<p>First Post: <textarea rows=6 cols=80 name="first_message"></p>
<p><input type="submit" name="Create Topic"></p>
</form>