table, th, td {
    border: 1px solid black;
    padding: 8px;
}

table {
    width: 80%;
    border-collapse: collapse;
}

.poster, .details, .postcount {
    text-align: center;
}

tr.even {
    background-color: #EEEEEE;
}

tr.odd {
    background-color: #DDDDDD;
}

tr.index_header {
    background-color: palegreen;
}

tr.topic_header {
    background-color: deepskyblue;
}