<!doctype html>
<html>
  <head>
    <title><%= flash[:title] %></title>
  </head>
  <body>
  <% if Helper.logged_in?(@session) %>
  <%= Helper.current_user(@session).link %> | <a href='/topics'>Board Index</a>
  <% else %>
  <a href='/login'>Log In</a> | <a href='/signup'>Sign Up</a>
  <% end %>
  <br>
  <br>

    <% if flash.has?(:message) %> <%= flash[:message] %><br><br> <% end %>
    
    <%= yield %>

  </body>
</html>
