<!doctype html>
<html>
  <head>
    <title>Sinatra Messageboard</title>
    <link rel="stylesheet" href="/styles/stylesheet.css">
  </head>
  <body>
  <% if logged_in?(@session) %>
  <%= current_user(@session).link %> | <a href='/logout'>Log Out</a> 
  <% else %>
  <a href='/login'>Log In</a> | <a href='/signup'>Sign Up</a> 
  <% end %>
   | <a href='/topics'>Board Index</a>
  <br>
  <br>
    <% if flash.has?(:message) %> <%= flash[:message] %><br><br> <% end %>
    
    <%= yield %>

  </body>
</html>
